/* app css stylesheet */


/* Font for the Carousel */
@font-face {
    font-family: "Carousel";
    src: url(../fonts/MtelTextReg.ttf);
}

body {
    background-color: #e6e6e6;
}

.m-logo {
    display: inline-block;
    text-indent: -9999px;
    width: 240px;
    height: 46px;
    background: url(../img/Manuscript.svg);
    background-size: 240px auto;
    background-repeat: no-repeat;
    vertical-align: middle;
}

.welcome {
    margin: 48px auto 78px auto;
    width: 800px;
    text-align: center;
}

.manu-btn-brd {
    margin-left: 5px;
    margin-right: 5px;
    background-color: transparent;
    border-radius: 4px;
    border-style: solid;
    border-width: 0px;
    padding: 6px 12px;
    background-color: rgb(97, 59, 90);
    font-size: 14px;
    touch-action: manipulation;
    cursor: pointer;
}


/* Start of placeholder styles */

::-webkit-input-placeholder { /* WebKit browsers */
    font-family: "Roboto", sans-serif;
    color: #b5b5b5;
}

:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    font-family: "Roboto", sans-serif;
    color: #b5b5b5;
    opacity: 1;
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
    font-family: "Roboto", sans-serif;
    color: #b5b5b5;
    opacity: 1;
}

:-ms-input-placeholder { /* Internet Explorer 10+ */
    font-family: "Roboto", sans-serif;
    color: #b5b5b5;
}

/* End of placeholder styles */




/* Start of navigation */

.manuscript-nav {
    position: fixed;
    height: 60px !important;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
    background-color: #2e0927;
    color: #f3f3f3;
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
}

.manuscript-brand > img {
    position: absolute;
    height: 42px;
    width: auto;
    top: 12px;
    left: 28px;
    margin-left: 28px;
}

#hamburger-button {
    position: absolute;
    top: 8px;
    left: -4px;
    padding: 0;
    height: 40px;
    background-color: transparent;
    border: none;
    color: #fefefe;
    font-size: 34px;
}

.shadow {
    -webkit-box-shadow: 0px -4px 25px 5px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px -4px 25px 5px rgba(0,0,0,0.75);
    box-shadow: 0px -4px 25px 5px rgba(0,0,0,0.75);
}


.modal-side {
    left: 0;
    top: 60px;
    margin: 0;
}

    .modal-side > .modal-content {
        border-radius: 0;
        width: 320px;
        height: calc(100vh - 60px);
        background-color: #e6e6e6;
        font-family: "Carousel";
        font-size: 22px;
    }

    .modal-side ul {
        vertical-align: middle;
        margin-top: 40px;
        list-style-type: none;
        padding: 0;
    }

        .modal-side ul > li {
            margin-bottom: 7px;
            padding: 4px 0 4px 40px;
        }

            .modal-side ul > li:hover {
                background-color: #ccc;
            }

            .modal-side ul > li > a {
                text-decoration: none;
                color: #2e0927;
            }

.sidebar-icon {
    font-size: 24px;
    text-align: center;
    min-width: 24px;
    max-width: 24px;
    margin-right: 20px;
}

.sidebar-text {
}

.modal.fade.sidebar-transition .modal-dialog {
    -webkit-transition: -webkit-transform .3s ease-out;
    -o-transition: -o-transform .3s ease-out;
    transition: transform .3s ease-out;
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
}


/* End of navigation */




/* Start of basic search styling */

#search-container {
    margin-top: 5px;
}

#search {
    display: inline;
    padding-right: 34px;
    background-image: url(../img/search-field.png);
    background-position: bottom;
    background-repeat: no-repeat;
    background-color: rgba(0,0,0,0);
    border: none;
    border-radius: 0;
    width: 449px;
    color: #fefefe;
}

#searchBtn {
    margin-left: 7px;
    margin-right: 70px;
    font-size: 22px;
    vertical-align: middle;
    color: #fefefe;
}

    #searchBtn:hover {
        color: #ececec;
    }

.glyphicon-search {
    color: #fefefe;
}

.navbar-collapse.in {
    overflow: hidden;
}

.navbar-collapse {
    background-color: #2e0927;
}

/* End of basic search styling */




/* Start of advanced search styling */


@media (min-width: 0) {
    .search-advanced-container {
        position: fixed;
        overflow: hidden;
        left: -6px;
        right: 120px;
        width: 487px;
    }
}



@media (min-width: 768px) {
    .search-advanced-container {
        position: fixed;
        overflow: hidden;
        top: 60px;
        left: auto;
        right: 100px;
        width: 487px;
    }
}



.search-advanced-container * {
    font-family: "Roboto", sans-serif;
}

.search-drop {
    position: relative;
    top: -30px;
    right: -422px;
    color: #fefefe;
    text-decoration: none;
    background-color: transparent;
    border-radius: 0;
    border: none;
}

.search-advanced {
    background-color: #2e0927;
    padding: 18px;
    margin: 0 18px 18px 18px;
}

.search-group {
    margin-bottom: 14px;
}

    .search-group > label {
        min-width: 90px;
        max-width: 90px;
    }

.search-options {
    margin-bottom: 14px;
    margin-top: 22px;
}

.search-check {
    width: 102px;
    margin-left: auto !important;
    margin-right: auto !important;
}

.search-field {
    width: 100%;
    background-color: rgba(119, 81, 112, 0);
    padding: 10px 10px 3px 10px;
    border-style: solid;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom-width: 2px;
    border-color: #fefefe;
    border-radius: 0;
}

.selector {
    background-color: rgba(119, 81, 112, 0.71);
    border: none;
    border-radius: 4px;
    padding: 6px;
    cursor: pointer;
}

#readDate {
    height: 28px;
    margin: 10px;
    color: #fefefe;
    border-width: 0;
    background-color: rgba(119, 81, 112, 0.71);
}


/* End of advanced search styling */




/* Start of Carousel styles */

.carousel {
    position: absolute;
    z-index: 3;
    top: 60px;
    left: 0;
    padding-top: 36px;
    height: 280px;
    width: 100%;
    background-color: #0f7973;
    -webkit-box-shadow: 0px -4px 25px 5px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px -4px 25px 5px rgba(0,0,0,0.75);
    box-shadow: 0px -4px 25px 5px rgba(0,0,0,0.75);
}


.carousel-fade {
    pointer-events: none;
    position: absolute;
    top: 120px;
    left: 0;
    z-index: 8;
    height: 220px;
    width: 100%;
    background: linear-gradient(to top, rgba(199,224,162,0.6), rgba(0,0,0,0)); /* Standard syntax (must be last) */
}

.carousel-text {
    font-family: "Carousel";
    position: absolute;
    bottom: 70px;
    z-index: 20;
    margin-left: 320px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    color: #000;
}

    .carousel-text > a {
        z-index: 20;
    }

.carousel-text-inner {
    text-decoration: none;
}

    .carousel-text-inner > h2 {
        color: #e8e8e8;
        font-size: 34px;
    }

    .carousel-text-inner > p {
        color: #ff8c00;
        font-size: 22px;
        float: right;
    }

.carousel-title {
    position: absolute;
    top: 250px;
    right: 0;
    z-index: 15;
    width: 260px;
    background-color: #04756f;
    text-align: center;
    font-size: 28px;
    font-family: 'Roboto Condensed', sans-serif;
    color: #fefefe;
}

#carousel-height {
    height: 200px;
    margin-left: 150px;
    z-index: 5;
}


.carousel-indicators li {
    border-color: #fefefe;
}

.carousel-indicators .active {
    background-color: #fefefe;
}

/* End of Carousel styles */




/* Start of Container styles */

.main-container {
    padding: 30px;
}

*.main-container {
    padding-bottom: 30px;
}

.container.main-container.carousel-fix {
    margin-top: 340px;
}


@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

@media (min-width: 1000px) {
    .container {
        width: 1000px;
    }
}

@media (min-width: 1230px) {
    .container {
        width: 1200px;
    }
}

@media (min-width: 1500px) {
    .container {
        width: 1400px;
    }
}


.main-container {
    margin-top: 60px;
    background-color: #fefefe;
}

/* End of Container styles */



/* Start of Custom Heading */

.heading {
    width: 90%;
    margin: 0 auto 0 auto;
}

    .heading > h3 {
        display: inline-block;
        font-family: "Roboto Condensed", sans-serif;
        color: #8E8484;
    }

.hline {
    margin-bottom: 8px;
    height: 1px;
    background-color: #B4B4B4;
    display: inline-block;
}


@media (min-width: 768px) {
    .hline {
        width: 38%;
    }
}


@media (min-width: 1000px) {
    .hline {
        width: 42%;
    }
}

@media (min-width: 1200px) {
    .hline {
        width: 43%;
    }
}

/* End of Custom Heading */




/* Start of genre boxes */

.genre-container {
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
}

.genre-box {
    width: 200px;
    height: 200px;
    float: left;
    margin: 5px;
    cursor: pointer;
}

.box-more {
    background-color: #F4794F;
    color: white;
}

    .box-more > h2 {
        font-family: "Roboto Condensed";
        padding-top: 62px;
        text-align: center;
    }

/* End of genre boxes */



/* Start of landing page */

.landing-container {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1039;
    width: 100vw;
    height: 100vh;
    background-color: #fff;
    background-image: url('../img/landing-bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

    .landing-container * {
        color: #fff;
    }

.landing-welcome {
    margin: 200px auto 78px auto;
    width: 493px;
    text-align: center;
}

    .landing-welcome * {
        text-shadow: 2px 2px 6px rgba(0, 0, 0, 1);
    }

.landing-nav {
    background-color: rgba(46, 9, 39, 0.7);
}

.logo-landing {
    background-image: url(../img/Manuscript-white.svg);
}

.landing-lang {
    top: 12px;
    right: 30px;
}

    .landing-lang > button {
        background-color: transparent;
    }

    .landing-lang ul {
        left: -108px;
    }

.login-btn {
    margin-top: 30px;
    padding: 10px;
    width: 100%;
    border-width: 0;
    border-radius: 6px;
    background-color: rgba(100, 45, 90, 1);
    text-shadow: none;
}


.lang-change {
    position: absolute;
    bottom: 20px;
    margin-left: 40px;
}


    .lang-change > ul > li {
        padding: 4px;
    }

        .lang-change > ul > li > a:hover {
            background-color: #ccc;
        }

/* End of landing page */




/* Start of Add book */

.book-thumbnail {
    height: 50px;
    width: auto;
    margin: 0 0 0 22px !important;
}

.book-row {
    margin-top: 10px;
}

.book-title > p {
    margin-top: 12px;
    margin-left: -18px;
}

.btn-add-book {
    width: 100%;
    color: rgba(100, 45, 90, 1);
    background-color: transparent;
    border-width: 0;
    padding: 10px;
}


#published-year {
    width: 182px;
}


.results {
    margin-top: 50px;
}

.pagination {
    margin-top: 30px;
}

    .pagination > button {
        position: absolute;
        width: 100px;
        padding: 10px;
        border-radius: 3px;
        border-width: 0;
        color: white;
        background-color: rgba(100, 45, 90, 1);
        bottom: -3px;
    }

        .pagination > button:last-child {
            right: 0;
        }


.loading-container {
    width: 200px;
    margin-left: auto;
    margin-right: auto;
}

.loading {
    height: auto;
    width: 200px;
}


.pagination > button:first-child {
    left: 0;
}

/* End of Add book */




.btn-primary {
    background-color: rgba(100, 45, 90, 1);
    border-width: 0;
}

    .btn-primary:hover, .btn-primary:active, .btn-primary.active, .btn-primary.focus, .btn-primary:focus {
        background-color: rgba(124, 62, 113, 1);
        border-width: 0;
    }

a {
    color: rgba(100, 45, 90, 1);
}

    a:active, a:hover, a:focus {
        color: rgba(124, 62, 113, 1);
    }



.error > p {
    text-align: center;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 20px;
    margin-top: 48px;
    margin-bottom: 48px;
}



.flag > img {
    height: 14px;
}


.col-md-2 > img {
    margin-top: 28px;
}





.comments-section {
    margin-top: 60px;
}

.book-list {
    margin-top: 60px;
}

.authorRight {
    text-align: right;
    margin-right: 100px;
    color: rgba(119, 81, 112, 0.71);
}

.book-cover {
    max-height: 100%;
    max-width: 100%;
}

.book-description {
    margin-top: 20px;
}




/* Start of reviews */

.reviews-tab {
    margin-top: 30px;
}

.rating-stars {
    color: #EFC70F;
    font-size: 22px;
}

.rating-text {
    font-size: 22px;
    font-family: "Roboto Condensed", sans-serif;
}

.rating {
    margin-bottom: 20px;
}

    .rating > h2 {
        margin-top: -36px;
        font-family: "Roboto Condensed", sans-serif;
    }

.review-form {
    padding: 20px;
}

/* End of reviews */





/* Book options */
#statusCode {
    width: 116px;
}




/* Start of custom modal styles */

.modal-header.modal-form-fix {
    padding: 15px 15px 0 15px;
}

.nav-tabs.modal-form-fix {
    border: none;
}

.modal-form-fix {
    margin-bottom: 10px;
}

textarea.modal-form-fix {
    float: none;
    width: 100%;
    max-width: 100%;
    min-height: 10em;
}

.modal-body {
    overflow: hidden;
}


.modal-buttons {
    float: right;
    overflow: auto;
}

.modal-button-container {
    height: 34px;
}

.nav, .pagination, .carousel, .panel-title a {
    cursor: pointer;
}

.modal-form {
    margin-top: 20px;
}

#desciption.form-control.modal-form-fix {
    width: 100%;
}


/* End of custom modal styles */





/*----- Start of Tabs styles -----*/

/* set reference point */
.tab-animation > .tab-content {
    position: relative;
}

    /* set animate effect */
    .tab-animation > .tab-content > .tab-pane {
        transition: 0.2s linear opacity;
    }

        /* overwrite display: none and remove from document flow */
        .tab-animation > .tab-content > .tab-pane.active-remove {
            position: absolute;
            top: 0;
            width: 100%;
            display: block;
        }

        /* opacity=0 when removing "active" class */
        .tab-animation > .tab-content > .tab-pane.active-remove-active {
            opacity: 0;
        }

        /* opacity=0 when adding "active" class */
        .tab-animation > .tab-content > .tab-pane.active-add {
            opacity: 0;
        }

/*----- End of Tabs styles -----*/

/*----- profile book lists scrollable styles -----*/
.list-inline {
    white-space: nowrap;
}

.scrollBooks {
    overflow-x: auto;
    overflow-y: hidden;
}
/*----- profile book lists scrollable styles -----*/

/*----- behavior and dummy style for my profile book groups and items -----*/
.bDetail {
    display: none;
    width: 50px;
}

.myBook:hover .bookHoverOptions {
    visibility: visible;
}

.bookHoverOptions {
    display: inline-block;
    visibility: hidden;
    margin-left: -140px;
    position: relative;
}

    .bookHoverOptions > * {
        display: table;
    }
/*----- END behavior and dummy style for my profile book groups and items -----*/



.errorMessages {
    height: 0;
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
}

.errorMessages-show {
    text-align: center;
    height: 20px;
    margin: 46px 0 58px 0;
    color: orangered;
    font-family: "Roboto Condensed";
    font-size: 18px;
    display: block;
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
}

.success {
	color: #A8E746;
}


.forgot-heading {
	font-size: 22px;
	font-family: "Roboto Condensed", sans-serif;
	margin-bottom: 32px;
}



/* Start of file picker */

.avatar {
    width: 200px;
    margin-left: auto;
    margin-right: auto;
}

.fileUpload {
    position: relative;
    overflow: hidden;
    margin: 10px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

    .fileUpload input#imagePicker {
        position: absolute;
        width: 100%;
        top: 0;
        right: 0;
        margin: 0;
        padding: 0;
        font-size: 20px;
        cursor: pointer;
        opacity: 0;
        filter: alpha(opacity=0);
    }


.avatarImage {
    max-width: 200px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
}

.book-cover {
    max-width: 145px;
    width: 145px;
}

/* End of file picker */



.validation-form input.ng-valid, textarea.ng-valid {
    border-color: #75C912;
    border-style: solid;
    border-width: 1px;
}

.validation-form input.ng-invalid, textarea.ng-invalid {
    border-color: #F97878;
    border-style: solid;
    border-width: 1px;
}

.validation-form input.ng-invalid-required, textarea.ng-invalid-required {
    background-color: #F9FAC2;
}

.tab-list {
    padding-left: 0;
}



/* Add/Remove styles */


/* Usage: class="btn btn-add/remove" */

.btn-add {
    background-color: #66D055;
    color: white;
}

.btn-remove {
    background-color: #ED5656;
    color: white;
}
