﻿<div>
    <div class="row">
        <div class="col-md-2">
            <img class="book-cover" ng-src="{{book.cover}}" />
        </div>
        <div class="col-md-10">
            <h1>{{book.title}}</h1>
            <h4>{{'AUTHOR' | translate}}: {{book.author}}</h4>
            <h5>{{'PUBLISHED' | translate}}: {{book.publishedDate | date}}</h5>
            <input ng-controller="RelatedBookCtrl" type="button" class="btn btn-{{btnType}}" value="{{getBtnName()}}" ng-click="editMyLibrary()" />
            <p class="book-description">{{book.description}}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-md-offset-2">
            <h4>{{'RATING' | translate}}: {{book.reviews[0].bookRate}}</h4>
            <h4>{{'GENRE' | translate}}: {{book.genre}}</h4>
            <p>{{'PAGECOUNT' | translate}}: {{book.pageCount}}</p>
        </div>
    </div>
    <!-- tab control for reviews, followers and followed users -->
    <div class="modal-body tab-content modal-form-fix" ng-controller="TabsCtrl">
        <tabset class="tab-animation">
            <tab heading="Reviews">
                <div class="reviews-tab">
                    <div ng-controller="ModalCtrl">
                        <button class="btn btn-primary" ng-click="open('md', 'write-review')">{{'WRITEREVIEW' | translate}}</button>
                    </div>
                    <div ng-repeat="review in book.reviews">
                        <hr />
                        <h3><a href="#/users/{{review.user.username}}">{{review.user.firstName + " " + review.user.lastName}}</a></h3>
                        <div ng-init="x = review.bookRate">
                            <rating class="rating-stars" readonly="true" ng-model="x" max="10"></rating>
                            <b>(<i>{{'RATING' | translate}}: </i> {{review.bookRate}})</b>
                        </div>
                        <p>{{review.commentDate | date}}</p>
                        <p>{{review.comment}}</p>
                    </div>
                </div>

            </tab>
            <tab heading="{{'FOLLOWEDLIB' | translate}} ({{followedReading.length}})">
                <ul class="tab-list">
                    <li class="list-group-item col-xs-6" ng-repeat="user in followedReading = (book.users| localSearch:localFilter | filter: {followed: true})">
                        <related-profiles></related-profiles>
                    </li>
                </ul>
            </tab>
            <tab heading="{{'FOLLOWERLIB' | translate}} ({{followersReading.length}})">
                <ul class="tab-list">
                    <li class="list-group-item col-xs-6" ng-repeat="user in followersReading = (book.users| localSearch:localFilter | filter: {following: true})">
                        <related-profiles></related-profiles>
                    </li>
                </ul>
            </tab>
        </tabset>
    </div>
</div>
