﻿<div class="">
    <div class="row" ng-repeat="book in books | localSearch: localFilter | advancedLocalSearch: advancedLocalFilter">
        <hr/>
        <div class="col-md-2">
            <a href="#/books/{{book.id}}">
                <img ng-src="{{book.cover}}" class="img-thumbnail" />
            </a>
        </div>
        <div class="col-md-10">
            <a href="#/books/{{book.id}}">
                <h1>{{book.title}}</h1>
                <h3 class="authorRight">{{'BY' | translate}} {{book.author}}</h3>
            </a>
        </div>
        <div class="col-md-3">
            <input ng-controller="RelatedBookCtrl" type="button" class="btn btn-{{btnType}}" value="{{getBtnName()}}" ng-click="editMyLibrary()" />
        </div>
    </div>
</div>
