<div class="welcome">
	<h1>{{'WELCOME' | translate}} <span class="m-logo"></span>{{'BEST' | translate}}</h1>
</div>

<div class="heading">
	<span class="hline"></span>
	<h3>{{'TOPGENRES' | translate}}</h3>
	<span class="hline"></span>
</div>

<div ng-controller="GenreCtrl">
	<div class="genre-container">
		<span ng-repeat="genre in bookGenres">
		<div ng-model="genre" ng-click="fetchFromServer(genre)" class="genre-box" ng-style="{'background-image': 'url(img/genres/' + genre + '.png)', 'background-color': '#' + boxColors[$index]}"></div>
		</span>
		<div ng-click="fetchFromServer()" class="genre-box box-more"><h2>{{'VIEWMORE' | translate}}</h2></div>
	</div>
</div>