<div class="landing-container">
	<div class="manuscript-nav landing-nav">
		<div class="navbar-header">
			<span class="manuscript-brand"><img src="img/logo.png"></span> <!-- Logo -->
			<div class="btn-group lang-change landing-lang" dropdown is-open="status.isopen" ng-controller="TranslateController">
				<button type="button" class="btn btn-text dropdown-toggle flag" dropdown-toggle ng-disabled="disabled">
					<img ng-src="{{flagUrl}}"> <span class="caret"></span>
				</button>
				<ul class="dropdown-menu" role="menu">
					<li ng-click="changeLanguage('bg')"><a href=""><img src="img/flag-bg.jpg"> Български</a></li>
					<li ng-click="changeLanguage('en')"><a href=""><img src="img/flag-en.jpg"> English</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="landing-welcome" ng-controller="ModalCtrl">
		<h1>{{'WELCOME' | translate}} <span class="m-logo logo-landing"></span>! <br/>{{'EXPLORE' | translate}}</h1>
		<button class="login-btn" ng-click="open('sm', 'login')">{{'LOGIN' | translate}}</button>  <!-- Login button -->
	</div>
</div>