<div>
    <div class="row">
        <div class="col-md-2">
            <img ng-src="{{user.avatar}}" class="img-thumbnail" />
        </div>
        <div class="col-md-10">
            <h1>{{user.firstName + " " + user.lastName}}</h1>
            <p>E-mail: {{user.email}}</p>
            <div ng-hide="isMyProfile()">
                <button ng-show="user.followed === false" class="not-followed btn btn-add" ng-click="updateUserRelation()" ng-controller="RelatedProfileCtrl">{{"FOLLOW" | translate}}</button>
                <button ng-show="user.followed === true" class="followed btn btn-remove" ng-click="updateUserRelation()" ng-controller="RelatedProfileCtrl">{{'UNFOLLOW' | translate}}</button>
            </div>
            <span ng-controller="ModalCtrl">
                <button type="button" ng-show="isMyProfile()" ng-click="open('md', 'add-book')" class="btn btn-primary">{{'ADDBOOK' | translate}}</button>
            </span>
        </div>
    </div>
    <user-info-tab-control></user-info-tab-control>
</div>