﻿<!doctype html>
<html lang="bg" ng-app="libraryManager">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta charset="utf-8">
    <title>Manuscript</title>
    <!--Styles refs-->
    <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/app.css">

    <!--Scripts refs for libraries-->
    <!--<script src="bower_components/jquery/dist/jquery.min.js"></script>-->
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-touch/angular-touch.min.js"></script>
    <script src="js/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="bower_components/angular-translate/angular-translate.min.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.min.js"></script>

    <script src="js/Resources.js"></script>
    <!--Developer scripts-->
    <script src="js/app.js"></script>
    <script src="js/directives.js"></script>
    <script src="js/controllers.js"></script>
    <!-- Cuntrollers Section -->
    <script src="js/Controllers/AdvancedSearchCtrl.js"></script>
    <script src="js/Controllers/BookDetailsCtrl.js"></script>
    <script src="js/Controllers/BookListCtrl.js"></script>
    <script src="js/Controllers/HomeCtrl.js"></script>
    <script src="js/Controllers/ProfileBookDetail.js"></script>
    <script src="js/Controllers/RelatedProfilesCtrl.js"></script>
    <script src="js/Controllers/SearchCtrl.js"></script>
    <script src="js/Controllers/RelatedBookCtrl.js"></script>
    <script src="js/Controllers/TranslateController.js"></script>
    <script src="js/Controllers/UserListCtrl.js"></script>
    <script src="js/Controllers/UserProfileCtrl.js"></script>
    <script src="js/Controllers/MyProfileBook.js"></script>
    <script src="js/Controllers/GoogleAPICtrl.js"></script>
    <script src="js/Controllers/RelatedProfilECtrl.js"></script>
    <script src="js/Controllers/ImagePickerCtrl.js"></script>
    <script src="js/Controllers/LoginCtrl.js"></script>
    <script src="js/Controllers/LogoutCtrl.js"></script>
    <script src="js/Controllers/RegistrationCtrl.js"></script>
    <script src="js/Controllers/AddBookCtrl.js"></script>
    <script src="js/Controllers/AddReviewCtrl.js"></script>
    <script src="js/Controllers/ForgotPasswordCtrl.js"></script>
    <!-- End Cuntrollers Section -->
    <script src="js/controllers-effects.js"></script>
    <script src="js/services.js"></script>
    <script src="js/translator.js"></script>
    <script src="js/filters.js"></script>
    <!-- Filters Section -->
    <script src="js/Filters/advancedLocalSearch.js"></script>
    <script src="js/Filters/localSearch.js"></script>
    <script src="js/Filters/sortBooksByStatus.js"></script>
    <!-- EndFilters Section -->

    <!-- fallback if javascript is disabled -->
    <noscript><h1>To use this web site, please, enable your JavaScript!</h1></noscript>
</head>
<body>
    <header>
        <main-menu></main-menu>
        <top-picks ng-if="isHome() == true"></top-picks>
    </header>
    <div class="container main-container" ng-class="{'carousel-fix': isHome()}">

        <!-- Start of Page Content -->
        <div ng-view=""></div>
        <!-- End of Page Content -->
    </div>

    <!--     <footer class="navbar navbar-default navbar-fixed-bottom">
            <div class="container">
                <p class="navbar-text">Copyright info and footer section!</p>
            </div>
        </footer> -->


    
</body>
</html>
