<div ng-controller="TabsCtrl">
    <div class="modal-body tab-content modal-form-fix">

        <!-- Button "X" for closing the modal window -->
        <button type="button" class="close" ng-click="cancel()">&times;</button>

        <tabset class="tab-animation">

            <!-- Start of Manual add Tab -->
            <tab heading="Ръчно">
                <form role="form" class="modal-form validation-form" ng-controller="AddBookCtrl" ng-submit="addBook(false)">
                    <image-picker ng-init="book = true"></image-picker>
                    <div class="form-group modal-form">

                        <!-- Title input field with an icon -->
                        <div class="input-group modal-form-fix">
                            <span class="input-group-addon"><span class="glyphicon glyphicon-book"></span></span>
                            <label for="title" class="sr-only">{{'TITLE' | translate}}</label>
                            <input type="text" id="title" class="form-control" ng-model="newBook.title" placeholder="{{titlePlaceholder}}" required>
                        </div>


                        <!-- Author input field with an icon -->
                        <div class="input-group modal-form-fix">
                            <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                            <label for="author" class="sr-only">{{'AUTHOR' | translate}}</label>
                            <input type="text" id="author" class="form-control" ng-model="newBook.author.name" placeholder="{{authorPlaceholder}}" required>
                        </div>


                        <!-- Genre input field -->
                        <div class="modal-form-fix">
                            <label for="genre" class="sr-only">{{'GENRE' | translate}}</label>
                            <input type="text" id="genre" class="form-control" ng-model="newBook.genre" placeholder="{{genrePlaceholder}}" required>
                        </div>


                        <div class="form-inline modal-form-fix">

                            <!-- Published year input field with an icon -->
                            <div class="form-group input-group">
                                <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                                <label for="published-year" class="sr-only">{{'PUBLISHED' | translate}}</label>
                                <input type="number" min="855" max="{{currentYear}}" id="published-year" class="form-control" ng-model="newBook.yearPublished" placeholder="{{publishedPlaceholder}}" required>
                            </div>


                            <!-- Page count input field -->
                            <div class="form-group">
                                <label for="page-count" class="sr-only">{{'PAGECOUNT' | translate}}</label>
                                <input type="number" min="1" id="page-count" ng-model="newBook.numberOfPages" class="form-control" placeholder="{{pageCountPlaceholder}}" required>
                            </div>

                        </div>


                        <!-- Description text area -->
                        <div class="modal-form-fix">
                            <label for="description" class="sr-only">{{'DESCRIPTION' | translate}}</label>
                            <textarea id="description" ng-model="newBook.description" class="form-control modal-form-fix col-xs-12" placeholder="{{desciptionPlaceholder}}" required></textarea>
                        </div>
                    </div>


                    <!-- Buttons for adding a book and cancel -->
                    <div class="modal-button-container">
                        <div class="modal-buttons">
                            <button type="submit" class="btn btn-primary">{{'ADD' | translate}}</button>
                            <a href="" class="btn btn-text" ng-click="$parent.cancel()">{{'CANCEL' | translate}}</a>
                        </div>
                    </div>

                </form>
            </tab>
            <!-- End of Manual add Tab -->
            <!-- Start of Google Books Tab -->
            <tab heading="От Google Books" ng-controller="AddBookCtrl">
                <div ng-controller="GoogleAPICtrl">
                    <form role="form" class="modal-form" ng-submit="googleSearch(0)">
                        <div class="form-group modal-form">

                            <!-- Title input field with an icon -->
                            <div class="input-group modal-form-fix">
                                <span class="input-group-addon"><span class="glyphicon glyphicon-book"></span></span>
                                <label for="title-google" class="sr-only">{{'TITLE' | translate}}</label>
                                <input type="text" id="title-google" class="form-control" ng-model="googleTitle" placeholder="{{titlePlaceholder}}">
                            </div>


                            <!-- Author input field with an icon -->
                            <div class="input-group modal-form-fix">
                                <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                                <label for="author-google" class="sr-only">{{'AUTHOR' | translate}}</label>
                                <input type="text" id="author-google" class="form-control" ng-model="googleAuthor" placeholder="{{authorPlaceholder}}">
                            </div>

                        </div>

                        <div class="modal-button-container">
                            <div class="modal-buttons">
                                <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-search"></span> {{'SEARCH' | translate}}</button>
                            </div>
                        </div>
                    </form>
                    <div class="results">
                        <hr ng-show="displayResults == true" />
                        <div class="row book-row" ng-repeat="book in googleBooks" ng-if="displayResults == true">
                            <div class="col-md-2">
                                <img ng-src="{{book.cover}}" class="book-thumbnail" />
                            </div>
                            <div class="col-md-8 book-title">
                                <p>{{book.title}}</p>
                            </div>
                            <div class="col-md-2">
                                <button type="button" class="btn-add-book" ng-click="$parent.addBook(true, book)">{{'ADD' | translate}}</button>
                            </div>
                            <hr />
                        </div>
                        <div class="error" ng-show="error">
                            <p>{{'NOMATCHES' | translate}}</p>
                        </div>
                        <hr ng-show="displayResults == true" />
                        <div class="loading-container" ng-show="fetching && !error && !displayResults">
                            <img src="img/loading.gif" class="loading">
                        </div>


                        <div class="pagination" ng-show="(displayResults == true || lastIndex !== undefined) && !fetching">
                            <button type="button" ng-hide="startIndex == 0 || (error && lastIndex === undefined)" ng-click="googleSearch(startIndex - maxResults)">{{'PREVIOUS' | translate}}</button>
                            <button type="button" ng-hide="totalItems == 0 || error" ng-click="googleSearch(startIndex + maxResults)">{{'NEXT' | translate}}</button>
                        </div>
                    </div>
                </div>

            </tab>
            <!-- End of Register Tab -->
        </tabset>
    </div>
</div>