﻿<form role="input">
    <div class="search-advanced shadow">
        <!-- Search by autor and title -->
        <div class="search-group">
            <label for="title" class="sr-only">{{'TITLE' | translate}}</label>
            <input type="text" class="search-field" id="title" ng-model="title" placeholder="{{'TITLE' | translate}}"/>
        </div>
        <div class="search-group">
            <label for="author" class="sr-only">{{'AUTHOR' | translate}}</label>
            <input type="text" class="search-field" id="author" ng-model="author" placeholder="{{'AUTHOR' | translate}}"/>
        </div>
        <!-- End search by autor and title -->
        <!-- Genres check boxes -->
        <div class="search-options">
            <label class="checkbox-inline search-check" ng-repeat="genre in genreList">
                <input class="checkbox " type="checkbox" name="genreGroup.{{genre}}" value="{{genre.toLowerCase}}" ng-model="g"
                       ng-change="checkBoxSelectionChanged(genre)" />
                {{genre}}
            </label>
        </div>
        <!-- End genres check boxes -->
        <!-- book status and read date picker(it status is read) -->
        <div class="form-group">
            <label for="status">{{'BOOKSTATUS' | translate}} </label>
            <select class="selector" id="status" ng-model="selectedStatus">
                <option value="" ng-selected="true">{{'CHOOSE' | translate}}</option>
                <option value="reading">{{'READING' | translate}}</option>
                <option value="toBeRead">{{'TOBEREAD' | translate}}</option>
                <option value="isReadBook">{{'READ' | translate}}</option>
            </select>
        </div>
        <div ng-show="readSelected()">
            <label for="readDate">{{'READDATE' | translate}}</label>
            <input class="date form-control" type="date" id="readDate" ng-model="bookReadDate" />
        </div>
        <!-- end book status and read date picker(it status is read) -->
        <input type="button" class="manu-btn-brd" value="{{'SEARCHINDB' | translate}}" ng-click="fetchFromServer()" />
    </div>
    
</form>