﻿<div class="avatar" ng-controller="ImagePickerCtrl">
	<div class="avatarImage" ng-class="{'book-cover': !isLanding()}">
		<img src="" height="200" alt="Avatar preview..." id="imagePreview" />
	</div>
    <div class="fileUpload btn btn-primary">
	    <span>{{'UPLOAD' | translate}}</span>
	    <input type="file" id="imagePicker" accept="image/*" />
	</div>
</div>