<div class="modal-body tab-content modal-form-fix" ng-controller="TabsCtrl">

    <!-- Button "X" for closing the modal window -->
    <button type="button" class="close" ng-click="$parent.cancel()">&times;</button>

    <tabset class="tab-animation" ng-hide="forgotPassword">
        <!-- Start of Login Tab -->
        <tab heading="{{'LOGIN' | translate}}">
            <form action="" role="form" class="modal-form validation-form" ng-controller="LoginCtrl" id="loginForm" ng-submit="sendLoginForm()">
                <div class="form-group modal-form">
                    <!-- Start of username input field with an icon -->
                    <div class="input-group modal-form-fix">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                        <label for="user" class="sr-only">Username</label>
                        <input ng-model="userName" type="text" id="user" class="form-control" placeholder="{{'USERNAME' | translate}}"  required>
                    </div>
                    <!-- End of username input field with an icon -->
                    <!-- Start of password input field with an icon -->
                    <div class="input-group modal-form-fix">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
                        <label for="password" class="sr-only">Password</label>
                        <input ng-model="password" type="password" id="password" class="form-control" placeholder="{{'PASSWORD' | translate}}" required>
                    </div>
                </div>
                <!-- End of password input field with an icon -->
                <label class="errorMessages" ng-class="{'errorMessages-show': showMsg}">{{error}}</label>
                <!-- Start of buttons for login and forgotten password -->
                <div class="modal-button-container">
                    <div class="modal-buttons">
                        <button type="submit" class="btn btn-primary">{{'LOGIN' | translate}}</button>
                        <a href="" class="btn btn-text" ng-click="forgot()">{{'FORGOTTENPASS' | translate}}</a>
                    </div>
                </div>
                <!-- End of buttons for login and forgotten password -->
            </form>
        </tab>
        <!-- End of Login Tab -->
        <!-- Start of Register Tab -->
        <tab heading="{{'SIGNUP' | translate}}">
            <form role="form" class="modal-form validation-form" id="registrationForm" ng-controller="RegistrationCtrl" ng-submit="sendRegistrationForm()">
                <image-picker></image-picker>
                <div class="form-group modal-form">
                    <!-- Start of username input field with an icon -->
                    <div class="input-group modal-form-fix">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                        <label for="user-name" class="sr-only">Username</label>
                        <input ng-model="userName" ng-pattern="/^[a-zA-Z0-9]*$/" type="text" id="user-name" class="form-control" placeholder="{{'USERNAME' | translate}}" required>
                    </div>
                    <!-- End of username input field with an icon -->
                    <!-- Start of password input field with an icon -->
                    <div class="input-group modal-form-fix">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
                        <label for="password-register" class="sr-only">Password</label>
                        <input ng-model="pass1" ng-keyup="validatePassword()" type="password" id="password-register" class="form-control" 
                        ng-class="{'ng-invalid': (!validPassword)}" placeholder="{{'PASSWORD' | translate}}" ng-required="true">
                    </div>
                    <!-- End of password input field with an icon -->
                    <!-- Start of password confirm input field with an icon -->
                    <div class="input-group modal-form-fix">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
                        <label for="password-confirm" class="sr-only">Password</label>
                        <input ng-model="pass2" ng-keyup="validatePassword()" type="password" id="password-confirm" class="form-control" 
                        ng-class="{'ng-invalid': (!validPassword)}" placeholder="{{'PASSCONFIRM' | translate}}" ng-required="true">
                    </div>
                    <!-- End of password confirm input field with an icon -->
                    <!-- Start of First name input field with an icon -->
                    <div class="input-group modal-form-fix">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                        <label for="first-name" class="sr-only">First name</label>
                        <input ng-model="firstName" ng-pattern="/^[a-zA-Zа-яА-Я]*$/" type="text" id="first-name" class="form-control" placeholder="{{'FIRSTNAME' | translate}}" required>
                    </div>
                    <!-- End of  First name input field with an icon -->
                    <!-- Start of  Last name input field with an icon -->
                    <div class="input-group modal-form-fix">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                        <label for="user-name" class="sr-only">Last name</label>
                        <input ng-model="lastName" ng-pattern="/^[a-zA-Zа-яА-Я]*$/" type="text" id="user-name" class="form-control" placeholder="{{'LASTNAME' | translate}}" required>
                    </div>
                    <!-- End of  Last name input field with an icon -->
                    <!-- Start of email input field with an icon -->
                    <div class="input-group modal-form-fix">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span></span>
                        <label for="email" class="sr-only">E-mail</label>
                        <input ng-model="email" type="email" id="email" class="form-control" placeholder="E-mail" required>
                    </div>
                    <!-- End of email input field with an icon -->
                </div>
                <label class="errorMessages" ng-class="{'errorMessages-show': showMsg}">{{error}}</label>
                <div class="modal-button-container">
                    <div class="modal-buttons">
                        <button type="submit" class="btn btn-primary">{{'SIGNUP' | translate}}</button>
                    </div>
                </div>
            </form>
        </tab>
        <!-- End of Register Tab -->
    </tabset>

    <form role="form" class="modal-form validation-form" ng-controller="ForgotPasswordCtrl" id="forgotForm" ng-show="forgotPassword" ng-submit="sendForgotForm()">
        <div class="form-group modal-form">
            <h2 class="forgot-heading">{{'FORGOTHEADING' | translate}}</h2>
            <!-- Start of username input field with an icon -->
            <div class="input-group modal-form-fix">
                <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                <label for="forgot-user" class="sr-only">Username</label>
                <input ng-model="userName" type="text" id="forgot-user" class="form-control" placeholder="{{'USERNAME' | translate}}"  required>
            </div>
            <!-- End of username input field with an icon -->
            <!-- Start of email input field with an icon -->
            <div class="input-group modal-form-fix">
                <span class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span></span>
                <label for="forgot-email" class="sr-only">Email</label>
                <input ng-model="email" type="email" id="forgot-email" class="form-control" placeholder="Email" required>
            </div>
        </div>
        <!-- End of email input field with an icon -->
        <label class="errorMessages" ng-class="{'errorMessages-show': showMsg, 'success': success}">{{msg}}</label>
        <!-- Start of buttons for send forgotten password -->
        <div class="modal-button-container">
            <div class="modal-buttons">
                <button type="submit" class="btn btn-primary">{{'SEND' | translate}}</button>
            </div>
        </div>
        <!-- End of buttons for send forgotten password -->
    </form>
</div>

