<nav role="navigation" ng-controller="MenuCtrl">
	
	<div class="manuscript-nav" ng-class="{'shadow': isHome() == false || scroll >= 280}" scroll-position="scroll">
		<div class="navbar-header">

		<!-- Start of button for toggling the search (small screen) -->
			<button type="button" class="navbar-toggle" ng-click="isCollapsed = !isCollapsed">
				<span class="sr-only">Toggle search</span>
				<span class="glyphicon glyphicon-search"></span>
				<span class="glyphicon glyphicon-triangle-bottom"></span>
			</button>
		<!-- End of button for toggling the search (small screen) -->

			<span ng-controller="ModalCtrl">
				<button id="hamburger-button" ng-click="openSidebar()">
					<span class="glyphicon glyphicon-menu-hamburger"></span>
				</button>
			</span>
			<a href="#/home" class="manuscript-brand"><img src="img/logo.png"></a> <!-- Logo -->
		</div>

		<div class="collapse navbar-collapse" id="menu" collapse="isCollapsed">

			<div class="navbar-form navbar-right" ng-controller="ModalCtrl">
				
				<search></search>
				
			</div>
		</div>
	</div>
</nav>