<form action="" role="input" ng-controller="SearchCtrl" id="search-container">
    <!-- Search input field with an icon -->
    <label for="search" class="sr-only">Search</label>
    <input type="text" id="search" class="form-control" ng-model="searchedText" ng-change="broadCastTo('searchChanged')" placeholder="{{searchPlaceholder}}">
    <a id="searchBtn" ng-click="broadCastTo('searchInDB')"><span class="glyphicon glyphicon-search"></span></a>

    <!-- Option for selecting whether to fetch from server (for advanced search for example - future version) -->
    <!-- <label for="searchBook" class="">Search in books</label> -->
    <input id="searchBook" ng-init="searchBook = true" type="checkbox" class=" checkbox-inline" ng-model="searchBook" ng-hide="true"/>
    <!-- <label for="searchUser" class="">Search in users</label> -->
    <input id="searchUser" ng-init="searchUser = true" type="checkbox" class=" checkbox-inline" ng-model="searchUser" ng-hide="true"/>
    <div ng-controller="AdvancedSearchCtrl">
        <button type="button" class="search-drop" ng-click="$parent.isSearchCollapsed = !$parent.isSearchCollapsed"><span class="fa fa-sort-desc"></span></button>
        <advanced-search collapse="$parent.isSearchCollapsed" class="search-advanced-container" ng-mouseleave="$parent.isSearchCollapsed = true"></advanced-search>
    </div>
</form>