<ul>
    <li>
        <a href="#/home" ng-click="cancel()">
            <span class="fa fa-compass sidebar-icon"></span>
            <span class="sidebar-text">{{'BROWSE' | translate}}</span>
        </a>
    </li>
    <li>
        <a ng-href="#/users/{{myUserName}}" ng-click="cancel()">
            <span class="fa fa-user sidebar-icon"></span>
            <span class="sidebar-text">{{'MYPROFILE' | translate}}</span>
        </a>
    </li>
    <li>
        <a href="#/users" ng-click="cancel()">
            <span class="fa fa-users sidebar-icon"></span>
            <span class="sidebar-text">{{'FINDPEOPLE' | translate}}</span>
        </a>
    </li>
    <li>
        <a href="#/" ng-controller="LogoutCtrl" ng-click="logout()">
            <span class="fa fa-sign-out sidebar-icon"></span>
            <span class="sidebar-text">{{'LOGOUT' | translate}}</span>
        </a>
    </li>
</ul>

<div class="btn-group dropup lang-change" dropdown is-open="status.isopen" ng-controller="TranslateController">
    <button type="button" class="btn btn-text dropdown-toggle flag" dropdown-toggle ng-disabled="disabled">
        <img ng-src="{{flagUrl}}"> <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu">
        <li ng-click="changeLanguage('bg')"><a href=""><img src="img/flag-bg.jpg"> Български</a></li>
        <li ng-click="changeLanguage('en')"><a href=""><img src="img/flag-en.jpg"> English</a></li>
    </ul>
</div>