 <section ng-controller="HomeCtrl"  ng-show="isHome()">
    <div ng-controller="CarouselCtrl" ng-if="books.length">
        <div>
        
        <!-- Image carousel -->
            <carousel interval="myInterval" class="carousel">
                <slide ng-repeat="slide in slides" active="slide.active">
                    <a href="#/books/{{slide.id}}">
                        <img ng-src="{{slide.image}}" id="carousel-height">
                        <div class="carousel-text">
                            <div class="carousel-text-inner">
                                <h2>{{slide.title}}</h2>
                                <p>-{{slide.author}}</p>
                            </div>
                        </div>
                    </a>
                </slide>
            </carousel>
            <div class="carousel-fade"></div>
            <div class="carousel-title">{{'TOPPICKS' | translate}}</div>
        </div>
    </div>
</section>

