<form role="form" class="modal-form review-form"  ng-controller="AddReviewCtrl" ng-submit="addReview()">
    <div class="form-group modal-form">

        <!--  -->
		<div ng-controller="RatingCtrl" class="rating">
			<h2>Review</h2>
			<span class="rating-text">{{'RATE' | translate}}</span>
			<rating ng-model="$parent.review.rate" max="max" readonly="false" on-hover="hoveringOver(value)" on-leave="overStar = null" class="rating-stars"></rating>
			<span class="rating-text">{{$parent.review.rate}} / {{max}}</span>
		</div>
        
        

        <div class="modal-form-fix">
    		<label for="description" class="sr-only">{{'DESCRIPTION' | translate}}</label>
            <textarea id="description" ng-model="review.text" class="form-control modal-form-fix col-xs-12" placeholder="{{'DESCRIPTION' | translate}}"></textarea>
    	</div>
    </div>


    <div class="modal-button-container">
        <div class="modal-buttons">
            <button type="submit" class="btn btn-primary">{{'SEND' | translate}}</button>
            <a href="" class="btn btn-text" ng-click="cancel()">{{'CANCEL' | translate}}</a>
        </div>
    </div>
</form>