﻿<div class="panel-heading"><h4 class="panel-title dropdown-header">{{bookGroup.groupTitle}}</h4></div>
<ul class="list-inline scrollBooks">
    <li class="profileBook"
        ng-repeat="book in user.books | localSearch:localFilter | advancedLocalSearch: advancedLocalFilter | sortBooksByStatus:bookGroup.bookStatus | filter:isInMyLibrary">
        <div ng-controller="MyProfileBook" class="myBook" ng-init=""
             title="{{book.title}}">
            <img ng-src="{{book.cover}}" class="btn myBookLink" ng-click="openBookDetails()">
            <div class="bookHoverOptions">
                <select class="" id="statusCode" ng-init="changedBookStatus = book.status" ng-model="changedBookStatus" ng-change="statusChange()">
                    <option value="isReadBook">{{'DONE' | translate}}</option>
                    <option value="currentlyReading">{{'READNOW' | translate}}</option>
                    <option value="toBeRead">{{'READLATER' | translate}}</option>
                </select>
                <input class="btn btn-default" ng-show="isCurrentlyReaded()" type="button" ng-click="startTimer()" value="{{getTimerBtnName()}}" />
                <input class="btn btn-default" ng-show="!isCurrentlyReaded()" type="button" ng-click="startReading()" value="{{getStartReadBtnName()}}" />
                <label ng-show="timerStarted" class="label label-default">{{'TIMER' | translate}}: {{time}}</label>
            </div>
        </div>
    </li>
</ul>