﻿<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default book-list">
            <div class="panel-heading"><h4 class="panel-title">{{'LISTBOOKSINLINBRARY' | translate}}</h4></div>
            <table class="table">
                <thead>
                    <tr>
                        <th></th>
                        <th>{{'TITLE' | translate}}</th>
                        <th>{{'AUTHOR' | translate}}</th>
                        <th>{{'RATING' | translate}}</th>
                        <th></th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th></th>
                        <th>{{'TITLE' | translate}}</th>
                        <th>{{'AUTHOR' | translate}}</th>
                        <th>{{'RATING' | translate}}</th>
                        <th></th>
                    </tr>
                </tfoot>
                <tr ng-repeat="book in user.books | localSearch:localFilter| advancedLocalSearch: advancedLocalFilter" ng-controller="RelatedBookCtrl">
                    <td><a href="#/books/{{book.id}}"><img ng-src="{{book.cover}}"></a></td>
                    <td>
                        <a class="" href="#books/{{book.id}}">
                            <h3>{{book.title}}</h3>
                        </a>
                    </td>
                    <td><h4>{{book.author}}</h4></td>
                    <td>Rating: {{book.reviews[0].bookRate| number:1}}</td>
                    <td>
                        <input type="button" class="btn btn-{{btnType}}" value="{{getBtnName()}}" ng-click="editMyLibrary()" />
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>