﻿<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default book-list">
            <div ng-controller="ProfileBookDetail">
                <book-detail ng-repeat="bookGroup in bookGroups"></book-detail>
            </div>
        </div>
    </div>
</div>
