﻿<div>
    <div class="col-md-2">
        <a href="#/users/{{user.username}}">
            <img ng-src="{{user.avatar}}" class="img-thumbnail" />
        </a>
    </div>
    <div class="col-md-7">
        <a href="#/users/{{user.username}}">
            <h1 class="username-list col-md-4">{{user.firstName}} {{user.lastName}}</h1>
        </a>
    </div>
    <div class="col-md-2" ng-hide="$parent.user.followed === true">
        <button ng-show="user.followed === false" class="not-followed btn btn-add" ng-click="updateUserRelation()" ng-controller="RelatedProfileCtrl">{{'FOLLOW' | translate}}</button>
        <button ng-show="user.followed === true" class="followed btn btn-remove" ng-click="updateUserRelation()" ng-controller="RelatedProfileCtrl">{{'UNFOLLOW' | translate}}</button>
    </div>
</div>