﻿<div class="modal-body tab-content modal-form-fix" ng-controller="TabsCtrl" ng-show="user.followed === true || isMyProfile()">
    <tabset class="tab-animation" >
        <tab heading="{{'MYBOOKS' | translate}}">
            <my-book-list ng-show="isMyProfile()"></my-book-list>
            <followed-user-book-list ng-show="user.followed === true"></followed-user-book-list>
        </tab>
        <!-- Start of Register Tab -->
        <tab heading="{{'FOLLOWED' | translate}}({{followedUsers.length}})" ng-controller="RelatedProfilesCtrl">
            <ul class="tab-list">
                <li class="list-group-item col-xs-6" ng-repeat="user in followedUsers = (users | localSearch:localFilter| filter: {followed: true})">
                    <related-profiles></related-profiles>
                </li>
            </ul>
        </tab>
        <!-- End of Register Tab -->
        <tab heading="{{'FOLLOWER' | translate}}({{followers.length}})" ng-controller="RelatedProfilesCtrl">
            <ul class="tab-list">
                <li class="list-group-item col-xs-6" ng-repeat="user in followers = (users | localSearch:localFilter | filter: {following: true})">
                    <related-profiles></related-profiles>
                </li>
            </ul>
        </tab>
    </tabset>
</div>